<phpunit colors="true"
         bootstrap="/var/www/projects/cms/laravel/cli/tasks/test/phpunit.php"
         backupGlobals="false">
	<testsuites>
		<testsuite name="Test Suite">
			<directory suffix=".test.php">/var/www/projects/cms/application/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>